/* overall */
body {
  width: 500px; /* max size of popup.html */
  height: 500px; /* max size of popup.html */
  font-family: 'Helvetica Neue', Helvetica, Microsoft Yahei, sans-serif;
}
::-webkit-scrollbar {
  /* hide scrollbar */
  display: none; /* Chrome Safari */
}
.description-box {
  height: 20px;
  display: flex;
  justify-content: center;
}

.description-box a {
  margin: 0px 10px 0px 10px;
}

/* collect tab */
.collect-content {
  word-break: break-all;
}

.empty-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collect-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  font-size: 1.2em;
}

.collect-time {
  font-weight: bold;
}

/* config tab*/
.actor-configs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.common-configs {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.mdui-card {
  width: 120px;
  height: 100%;
  margin: 10px 5px 5px 10px;
}

.mdui-card-actions .total-switch-container {
  display: flex;
  justify-content: center;
}

.mdui-card-actions .detail-custom-container {
  display: flex;
  flex-direction: column;
}

.ul-style-wrapper {
  display: flex;
}

.common-configs .mdui-list-item {
  width: 140px;
}

.common-configs .mdui-textfield-input {
  width: 50px;
}

.actor-show {
  margin: 20px;
}

.actor-name {
  color: #4e3e33;
}

.actor-img {
  float: right;
}

.actor-works-left {
  float: left;
  width: 180px;
  height: 140px;
}

.actor-works-right {
  float: left;
  margin-left: 40px;
  width: 180px;
  height: 140px;
}

.actor-link {
  margin: 10px 0 0 20px;
  color: #00a1d6;
  font: 12px;
  font-weight: 600;
  
}

a {
  text-decoration: none;
  color: #00a1d6;
}

.haruka {
  background-image: url('../static/img/baobao/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}